﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="Utilitarios.Pages.Home" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Nexus Util</h1>
        <p class="lead">Chino fake :C</p>
      </div>
    </div>
</body>
</html>
